#required_fields_message
{
	width: 100%;
	text-align: center;
	margin-bottom: 3px;
	font-style: italic;
}

#error_message_box
{
	margin-bottom:7px;
	margin-left:20px;
	color:red;
}

#user_login_info
{
	float:left;
	width:47%;
	margin-left:5px;
	padding:5px;
}

.field_row
{
	margin: 0 0 10px 0;
}

.field_row label
{
	float:left;
	width:100px;
	text-align:left;
	line-height:2.3;
}

.field_row label.wide
{
	width:100px;
}

label.required
{
	color:red;
}

.form_field
{
 	float:left;
 	padding: 3px;
 	font-family:Arial;
}

.form_field input, .form_field textarea
{
 	border: 2px solid #ccc;
 	-moz-border-radius : 4px;
    -webkit-border-radius : 4px;
    border-radius : 4px;
}

#user_optional_info
{
	float:left;
	width:47%;
	margin-left:5px;
	padding:5px;
}
